::-webkit-scrollbar
{
	width: 13px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #2563EB;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}


